<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin-type-add/update</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog Admin</h2>
            <a href="#" th:href="@{/admin/blogs}" class="m-item item m-mobile-hide">Blog</a>
            <a href="#" th:href="@{/admin/types}"  class="active m-item item m-mobile-hide">Type</a>
            <a href="#" th:href="@{/admin/labels}"  class="m-item item m-mobile-hide">Label</a>
            <a href="#" th:href="@{/admin/archives}" class=" m-item item m-mobile-hide">Archives</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="../../static/images/headPoint.jpg" th:src="@{/images/headPoint.jpg}">
                        <div th:text="${session.user.username}">headPoint</div>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="/admin/blogs/add" class="item">publish</a>
            <a href="#" class="teal active item">management</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <form action="#"  th:object="${type}"  th:action="*{id}==null ? @{/admin/types/doAdd} : @{/admin/types/{id}/doUpdate(id=*{id})}" method="post" class="ui form">
           <input type="hidden" name="id" th:value="*{id}">
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">type name</label>
                    <input type="text" name="name" th:value="*{name}" placeholder="input type name ...">
                </div>
            </div>
            <div class="ui error message"></div>
            <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                <i class="close icon"></i>
                <div class="header">Illegal submission</div>
                <p th:errors="*{name}"></p>
            </div>
            <div class="ui right aligned container">
                <button class="ui button" type="button" onclick="window.history.go(-1)">return</button>
                <button class="ui teal submit button">submit</button>
            </div>
        </form>
    </div>
</div>

<!--semantic js-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

    $('.ui.form').form({
        fields : {
            name : {
                identifier: 'name',
                rules: [{
                    type : 'empty',
                    prompt: 'please input name!'
                }]
            }
        }
    });

    //消息提示关闭
    $('.message .close').on('click',function () {
        $(this)
            .closest('.message')
            .transition('fade');
    });

</script>
</body>
</html>