<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h1 class="ui teal header item">Blog</h1>
            <a href="/" class="active m-item item m-mobile-hide">Home</a>
            <a href="/type" class="m-item item m-mobile-hide">Type</a>
            <a href="/label" class="m-item item m-mobile-hide">Label</a>
            <a href="/about" class="m-item item m-mobile-hide">About</a>
            <div class="right m-item item m-mobile-hide">
                <form name="blogSearch" action="#" th:action="@{/blog/search}" target="_blank"  method="post">
                <div class="ui icon inverted transparent input m-margin-tb-tiny">
                    <input type="text" placeholder="Search...." name="query" id="searchBlog">
                </div>
                    <i class="search link icon" onclick="searchSubmit()"></i>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左边博客列表-->
            <div class="eleven wide column">
                <!--header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned grid">
                        <div class="column">
                            <h1 class="ui teal header">Welcome to my personal blog system</h1>
                        </div>
                    </div>
                </div>
                <!--content-->
                <div class="ui attached segment">
                    <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
                        <div class="ui mobile reversed stackable grid" >
                            <div class="eleven wide column">
                                <h3 class="ui header"><a href="#" class="m-black" th:text="${blog.title}"
                                                         th:href="@{/blog/{id}(id=${blog.id})}">my first blog</a></h3>
                                <p class="m-text" th:text="${blog.description}">My first blog post was about why and
                                    how this site was built...</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="" th:src="@{${blog.user.headPointUrl}}" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header"
                                                                        th:text="${blog.user.username}">hua</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span
                                                    th:text="${#dates.format(blog.creationTime,'yyyy-MM-dd')}">2019-10-01</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i><span th:text="${blog.viewedCount}">2342</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <p href="#" target="_blank"
                                           class="ui teal basic label m-padded-tiny m-text-thin"
                                           th:text="${blog.tag}">diary</p>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank" th:href="@{/blog/{id}(id=${blog.id})}">
                                    <img src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=1569462993,172008204&fm=5"
                                         th:src="@{${blog.firstPictureUrl}}" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--footer-->
                <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" class="ui mini teal basic button" th:href="@{/(page=${page.number}-1)}"
                               th:unless="${page.first}"><i class="angle double left icon"></i></a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" class="ui mini teal basic button" th:href="@{/(page=${page.number}+1)}"
                               th:unless="${page.last}"><i class="angle double right icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--右边的部分-->
            <div class="five wide column">
                <!--分类-->
                <div class="ui segments" id="type-div">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>type
                            </div>
                            <div class="right aligned column">
                                <a href="/type" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <form name="typeForm" class="ui fluid vertical menu" th:action="@{/type}" target="_blank"  method="post">
                            <input type="hidden" name="page" value="0">
                            <input type="hidden" name="id" id="typeId">
                            <a href="#" class="item" th:each="type : ${types}" onclick="selectType(this)" th:attr="value=${type.id}">
                                <span th:text="${type.name}">typename</span>
                                <div class="ui teal basic left pointing label" th:text="${type.countpb}">10</div>
                            </a>
                        </form>
                    </div>
                </div>
                <!--标签-->
                <div class="ui segments m-margin-top-large" id="label-div">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>label
                            </div>
                            <div class="right aligned column">
                                <a href="/label"  target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <form name="labelForm" class="ui teal segment" th:action="@{/label}" target="_blank"  method="post">
                        <input type="hidden" name="page" value="0">
                        <input type="hidden" name="id" id="labelId">
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny"
                           th:each="label : ${labels}" onclick="selectLabel(this)" th:attr="value=${label.id}" >
                            <span th:text="${label.name}"> Java </span>
                            <div class="detail" th:text="${label.countBlog}">23</div>
                        </a>
                    </form>
                </div>
                <!--最新推荐-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <i class="bookmark icon"></i>latest Recommended
                    </div>
                    <div class="ui segment" th:each="recommendBlog : ${recommendBlogs}">
                        <a href="#" target="_blank" class="m-black m-text-thin" th:text="${recommendBlog.title}"
                        th:href="@{/blog/{id}(id=${recommendBlog.id})}"></a>
                    </div>
                </div>
                <!--二维码-->
                <h4 class="ui horizontal divider header m-margin-top-large">contact me</h4>
                <div class="ui centered card" style="width: 11em">
                    <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt=""
                         class="ui rounded image">
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<!--底部footer-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui rounded image"
                             alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">new blog</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">my first blog</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">contact me</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">Email：402166081@qq.com</a>
                    <a href="#" class="item m-text-thin">QQ：402166081</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">This is my personal blog</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2018 - 2019 </p>
    </div>
</footer>

<!-- 引入semantic-ui框架 -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    // 控制手机端菜单按钮
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    function searchSubmit(){
        var t = $('#searchBlog').val();
        if (t==''||t==undefined||t==null){
            return false;
        }
        document.forms['blogSearch'].submit();
    }

    function selectType(obj) {
        $('#typeId').attr("value",$(obj).attr("value"));
        document.forms['typeForm'].submit();
    }
    function selectLabel(obj) {
        $('#labelId').attr("value",$(obj).attr("value"));
        document.forms['labelForm'].submit();
    }


</script>
</body>
</html>